*{
    padding: 0;
    margin: 0;
}
h3 {
    padding: 0;
    margin: 0px;
}


body{
    overflow: hidden;
}

.header{
    width: 100%;
    height: 50px;
    background-color: rgb(250, 252, 250);
    text-align: center;
    line-height: 50px;
    box-shadow: 0px -1px 12px #a1a09a;
}

.header > span {
    font-size: 22px;
}

#father {
    text-align: center;
    width: 345px;
    padding: 15px;
    position: relative;
    margin: 0 auto;
}

.mouth {
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    margin:8px 0px 42px 0px; 
    /* position: absolute; */
    /* top: 10px; */
}

#everyDay {
    width: 333px;
    height: 350px;
    background-color: rgb(248, 250, 248);
    /* border: 1px solid #666; */
    box-shadow: 0px 1px 9px #a1a09a;
    border-radius: 20px;
    overflow: hidden;
    padding: 9px 5px 5px 7px;
    text-align: left;
}

#btnLeft {
    position: absolute;
    top: 50px;
    left: 25px;

}

#btnRight {
    position: absolute;
    top: 50px;
    right: 25px;
}

.btn {
    width: 70px;
    height: 25px;
    border: 0px;
    background-color: gold;
    border-radius: 15px;
    outline: 0;
    line-height: 25px;
    text-align: center;
    box-shadow: 1px 0px 26px #e0dfd5;
}

.day-div {
    width: 55px;
    height: 58px;
    border-top: 1px solid black;
    padding: 10px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    box-sizing: border-box;
}
.today {
    border-bottom: 1px solid #f10215;
}