.search {
    height: 52px;
}
.mint-search {
    /* opacity: 0; */
    height: 100%;
    background: #fff; 
}
.mint-searchbar {
    opacity: 1;
    background: #FFCC00;
}
.mint-searchbar-core{
    padding-left: 10px;
}
.mint-searchbar-inner{
    padding-left: 10px;
    border-radius: 25px;
}
.mint-cell-title{
    text-align: left;
}
.mint-cell{
    background-color: #FFCC00;
    min-height:35px;
}
.mint-cell-allow-right::after{
    color: black;
}
.mint-swipe{
    width: 100%;
}
.mint-swipe-item{
    display: flex;
}
.mint-tab-item-label:hover{
    color: #FFCC00;
    font-size: 15px;
}
.mint-navbar .mint-tab-item.is-selected{
    border-bottom: 1.5px solid #FFCC00;
    color: #FFCC00;
}
