.search {
    height: 52px;
}
.mint-search {
    /* opacity: 0; */
    height: 100%;
    background: #fff; 
}
.mint-searchbar {
    opacity: 1;
    background: -webkit-linear-gradient(left, gold, pink); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, gold, pink); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, gold, pink); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, gold, pink); /* 标准的语法 */
}
.mint-searchbar-core{
    padding-left: 10px;
}
.mint-searchbar-inner{
    padding-left: 10px;
    border-radius: 25px;
}
.mint-cell-title{
    text-align: left;
}
.mint-cell-allow-right::after{
    color: black;
}
.mint-swipe{
    width: 100%;
}
.mint-swipe-item{
    display: flex;
}
.mint-tab-item-label:hover{
    color: #FFCC00;
    font-size: 15px;
}
.mint-navbar .mint-tab-item.is-selected{
    border-bottom: 1.5px solid #FFCC00;
    color: #FFCC00;
}
.mint-navbar{
    height: 30px;
}
.mint-navbar .mint-tab-item {
    padding: 9px 0;
}
.mint-cell-wrapper{
    font-size: 12px;
}
.mint-header{
    background-color: #FFCC00;
    font-size: 18px;
    border-bottom: 0.5px solid #fff;
    box-shadow: 5px 2px 26px #ccc;
}